# more can be found in snippets/html_minimal.snippets
# these UltiSnips override snippets because nested placeholders are being used

priority -50

snippet id "ID"
id="${1}"${2}
endsnippet

snippet # "ID"
id="${1}"${2}
endsnippet

snippet class "Class"
class="${1}"${2}
endsnippet

snippet . "Class"
class="${1}"${2}
endsnippet

snippet idn
id="${1}" name="${2:$1}"
endsnippet

snippet img
<img src="$1"${2: alt="$3"}/>
endsnippet
